/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home container */
.home-container {
    background-color: #2a2929;
    color: white;
    position: relative; /* Set position to relative to contain absolute positioned elements */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-content {
    text-align: left; /* Center the text */
    margin-top: -1300px; /* Adjust the top margin to create space for the slider */
    margin-right: 960px;
  }

/* Home title */
.home-title {
    font-size: 110px;
    margin-right: 50px; /* Add some spacing between the title and the slider */
    opacity: 0.5;
    margin-top: 1690px;
    color: grey;
}

/* Home title spans */
.home-title span {
    display: block; /* Display each span as a block element */
    margin-bottom: 10px; /* Add spacing between each line */
    margin-right: 50px;
}

/* Style the grey text */
.grey-text {
    color: grey; /* Color the text in grey */
}

/* Slider container */
.slider-container {
    position: absolute; /* Position the slider absolutely within the container */
    top: -95%; /* Place the slider at the top */
    left: 40%; /* Center the slider horizontally */
    transform: translateX(-50%); /* Adjust for center alignment */
    z-index: 1; /* Ensure the slider is visually above other content */
  }

.marquee-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100px; /* Adjust as needed */
    overflow: hidden;
    background-color: purple; /* Background fixed to black */
    margin-left: 1400px;
    margin-top: -940px;

}
.heading-container{
    font-size: 20px;
    text-align: right;
}