/* src/components/Navbar.css */

.navbar-brand {
    display: flex;
    align-items: center;
    background-color: #2a2929;
    /* margin-left:10px; */
}

.navbar-logo {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 1rem; /* Space between logo and text */
    margin-top: 10px;
}

.navbar-text {
    font-size: 2.5rem;
    color: rgb(222, 166, 62); /* White text color */
    margin-left: 1rem;
    margin-top: 10px;

}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar-menu li a {
    text-decoration: none;
    color: #ffffff; /* Link color */
    font-size: 1rem;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none; /* Hide menu on smaller screens */
    }
}
