/* src/components/Slider.css */
.slider-container {
    display: flex;
}

.slider-image {
    margin-right: 15px;
    border-radius: 8px;
}

.slider-image img {
    width: 300px; /* Adjust slide width as needed */
    margin-top: 750px;
}
